# ls aliases
alias ls='ls --time-style=long-iso'
alias ll='ls -alh'

# find aliases
alias ff='find . -type f -name'
alias fd='find . -type d -name'

# apt aliases
alias apti="sudo apt-get install"
alias apts="sudo apt-cache search"
alias aptu="sudo apt-get update \
                && sudo apt-get upgrade"

#docker aliases (mainly from https://github.com/Bash-it/bash-it/blob/master/aliases/available/docker.aliases.bash)
alias dk='docker'
alias dklc='docker ps -l'                                                            # List last Docker container
alias dklcid='docker ps -l -q'                                                       # List last Docker container ID
alias dklcip='docker inspect -f "{{.NetworkSettings.IPAddress}}" $(docker ps -l -q)' # Get IP of last Docker container
alias dkps='docker ps'                                                               # List running Docker containers
alias dkpsa='docker ps -a'                                                           # List all Docker containers
alias dki='docker images'                                                            # List Docker images
alias dkrmac='docker rm $(docker ps -a -q)'                                          # Delete all Docker containers
alias dkrmlc='docker-remove-most-recent-container'  	      	                       # Delete most recent (i.e., last) Docker container
alias dkrmli='docker-remove-most-recent-image'                                       # Delete most recent (i.e., last) Docker image
alias dkelc='docker exec -it $(dklcid) bash --login' # Enter last container (works with Docker 1.3 and above)
alias dkip='docker image prune -a -f'
alias dkvp='docker volume prune -f'
alias dksp='docker system prune -a -f'

# misc aiases
alias gr=jump-to-git-root # shortcut for a function defined in .functions

#slurm aliases
alias sres='sacct -a --format="JobID,jobname,elapsed,CPUTime,MaxRSS"'

# k8s aliases
alias kc=kubectl
alias kcge='kubectl get events --sort-by=.lastTimestamp'
alias kcga='kubectl get $(kubectl api-resources --verbs=list --namespaced -o name | paste -sd ",")'
alias kcdfailed='kubectl delete pods --field-selector=status.phase=Failed'
alias kcns="kubectl config set-context --current --namespace "
alias kccontext="kubectl config current-context"