#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

function sumcol() {
  awk "{ SUM += \$${1} } END { print SUM }"
}

# pandoc
function md2pdf() {
	for file in "$@"; do pandoc "$file" -o "${file%.md}.pdf"; done
}

function md2html() {
	for file in "$@"; do pandoc "$file" -o "${file%.md}.html"; done
}

function mailattach() {
    
    if [ $# -gt 1 ]; then
    zip -r /tmp/attachment.zip $@
    ATTACHMENT="/tmp/attachment.zip"
    else
    ATTACHMENT=$1
    fi
    
    # send mail
    echo "body text" | mailx -s "Subject: attachment incoming" -a $ATTACHMENT konrad.mayer@zamg.ac.at
}
